.wrapper {
    display: grid;
    width: 86vw;
    height: 86vw;
    text-align: left, top;
    border: 4vw;
    margin-left: 4vw;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    gap: 10px;
}